<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
</head>
<body aaa="123">
<div name="div">
{% for i in btnList %}
<button class="buttons" type="button" onclick="myFunc('{{i}}')" name="{{i}}">{{i}}</button>


    {% endfor %}
</div>
</body>
<script>
    function myFunc(i){
    // dac i +"wav" jako nazwa pliku
    var audio = new Audio("/static/nie.wav");
    audio.play();
    console.log(i);
    }
</script>
</html>